.search_map {
  display: flex;
  height: 100vh;
}

.searchBox {
  width: 45%;
  // background-color: red;

  .logo {
    width: 50%;
    margin: 10px auto;
  }

  img {
    width: 100%;
    margin: auto;
  }

  // .line {
  //   width: 75%;
  //   height: 1px;
  //   margin: auto;
  //   background-color: black;
  // }
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 40px 0 40px;

  // .line {
  //   height: 115px;
  //   width: 1px;
  //   background-color: red;
  //   margin-right: 20px;
  // }

  // form {
  //   width: 80%;
  //   margin: auto;
  // }
}

.title_route {
  margin: 20px 0 10px 40px;
  color: $primary-color;
}

.start {
  position: absolute;
  margin: 10px;
  font-size: 12px;
  color: $text-muted-color;
}

.logout {
  position: absolute;
  z-index: 10px;
  top: 20px;
  right: 20px;
  width: 100px;
  background-color: $logo-color;
}

.find-route {
  position: absolute;
  z-index: 20px;
  top: 50%;

  left: 60%;
  // width: 100px;
}
